.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   border-style: ridge;
   background-color: white;
   border-color: blueviolet;
}
h2
{
  text-align: center;
  font-style: oblique;
  font-variant: small-caps;
  font-weight: 900;
}
h4
{
  text-align: center;
  font-style: oblique;
  font-variant: small-caps;
  font-weight: 900;
}